<!-- Main page  -->
<div class="mainComponent ">

    <!-- Start block-->
  <div *ngIf="jamCondition ; else elseBlock" >

      <h1 class="clock">{{date | date: 'HH:mm:ss'  }}</h1><br>   <!-- digital clock -->

      <mat-form-field>

        <mat-select [(value)]="selectedReason" placeholder="Reason">
          <mat-option value="Weather">Weather</mat-option>
          <mat-option value="Traffic overload">Traffic overload</mat-option>
          <mat-option value="Road accident">Road accident</mat-option>
          <mat-option value="Obstacles">Obstacles</mat-option>
          <mat-option value="Unknown">Unknown</mat-option>
        </mat-select>

      </mat-form-field>
      <br>
      <button mat-raised-button  (click)="start()" class="mainButton">Start</button>

  </div>


    <!-- Stop block-->
  <ng-template #elseBlock>

    <h1 class="clock" style="margin-top: 36px">{{timer  | date: 'HH:mm:ss' : '+0000' }}</h1>   <!-- timer -->
    <br>
    <br>
    <br>
    <button mat-raised-button (click)="stop()" class="mainButton" style="margin-top:17px ">Stop</button>
    <br>
    <button mat-button (click)="cancel()" style=" color: gray;  ">Cancel</button>

  </ng-template>

</div>
