<!--List of Jams-->
<mat-card>
  <!-- Angular material table -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows  matSort>

  <ng-container matColumnDef="begin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let jam"> {{jam.begin | date:'dd/MM/yy HH:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
    <td mat-cell *matCellDef="let jam"> {{jam.reason}}</td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
    <td mat-cell *matCellDef="let jam">
      <div *ngIf="jam.duration === 0; else elseBlock" style="color: #5b5"> Running </div>
      <ng-template #elseBlock>{{jam.duration | date:'H:mm:ss' : '+0000'}}</ng-template>
    </td>
  </ng-container>

  <!--expandable row-->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell
    *matCellDef="let jam"
    [attr.colspan]="displayedColumns.length">
      <div class="expandedContent  "
      [@detailExpand]="jam == selectedJam ? 'expanded' : 'collapsed'">

        <div *ngIf="jamSelected" >

          <button class="iconButton"
                  mat-icon-button
                  type="button"
                  name="button"
                  (click)="editJam(selectedJam.id)">
            <mat-icon style='color:black' >edit</mat-icon>
          </button>

          <button class="deleteButton"
                  mat-icon-button
                  type="button"
                  name="button"
                  (click)="removeJam()">
            <mat-icon style='color:black' >delete</mat-icon>
          </button>

        </div>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let jam;
    columns: displayedColumns;"
    class="jamRow"
   [class.selected]="selectedJam === jam"
   (click) ="onSelect(jam)" >
  </tr>

  <tr mat-row
      *matRowDef="let row;
      columns: ['expandedDetail']"
      class="expandedDetail"></tr>

  </table>

  <mat-paginator class="paginator" pageSize="15" ></mat-paginator>

  <div>
    <button mat-flat-button
            type="button"
            name="button"
            class="flatButton"
            (click)="newJam()"
            style="color: grey;"
    >+ New jam</button>
    <app-report class="flatButton"></app-report>
    <app-csv class="flatButton"></app-csv>
  </div>

</mat-card>
