.table{
  width:100%;
  background-color: #FFFFFF;

}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.stat-left-container{
  height: 100%;
  margin-bottom: 0.5em;
}
.stat-right-container{
  height: 100%;
}
.spinner{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: white;
  margin: 0 auto;
}
.spinnertime{
  position:relative;
  top: -98px; left: 17px;
  color: black;
}
.stats{
    padding: 0.5%;
    width: 100%;
}
.report{
}
.spinnercard{
  height: auto;
}
.expandedDetail  td{
  border-bottom-width: 0;
}
.expandedContent{
  overflow: hidden;
  display: flex;
}
tr.jamRow:not(.selected):hover {
  background: #f5f5f5;
}

tr.jamRow:not(.selected):active {
  background: #efefef;
}
.expandedDetail{
  height: 0;
}
.deleteButton{
  align-self: flex-end;
}

/*.stat-left-container{
  background: cyan;
}
.stat-right-container{
  background: blue;
}*/
