.table{
  width:100%;
  background-color: #FFFFFF;

}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.stat-left-container{
  height: 100%;
}
.stat-right-container{
  height: 100%;
}
.spinner{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: white;
}
.spinnertime{
  position:relative; top: -98px; left: 17px;
  color: black;
}
.stats{
    padding: 1%;
    width: 100%;
}
.report{
}
/*.stat-left-container{
  background: cyan;
}
.stat-right-container{
  background: blue;
}*/
