<!--Toolbar and Navigation menu -->

<!-- Toolbar-->
<mat-toolbar color="primary" class="mat-elevation-z5" style=" height: 6.3%">

 <mat-toolbar-row>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" color="primary">

      <mat-icon aria-label="Side nav toggle icon" style='color:white;' >menu</mat-icon>

    </button>

    <span>trafficJamCalculator</span>

    <button class="fb-button" mat-icon-button  (click)="login()"><mat-icon style="font-size: 48px" >account_circle</mat-icon></button>

  </mat-toolbar-row>

</mat-toolbar>


<!-- Navigation menu-->
<mat-sidenav-container class="example-container" style="height: 93.7%;">

  <mat-sidenav #sidenav mode="over"  role="navigation">

    <mat-nav-list>

      <a mat-list-item class="link mainLink" routerLink='/main'>Main Page</a>

      <a mat-list-item class="link settingsLink" routerLink='/settings'>Settings</a>

      <a mat-list-item class="link statisticsLink" routerLink='/statistics'>User statistics</a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main" >

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
