<div class="stats">
  <div class="container content">
    <div class="row">
      <div class="stat-left-container col-md-6 col-lg-6 col">
        <app-jams></app-jams>
      </div>

     <div class="stat-right-container col-md-6 col-lg-6 col-sm-12 col">

       <div class="row">

          <div class="col col-md-7 col-sm-6 ">
            <app-day-spinner></app-day-spinner>
          </div>

          <div class="col  col-md-5 col-sm-6 ">
            <app-statscard></app-statscard>
          </div>
         </div>

         <div class="row">

           <div class="col-md-12 col">
             <app-chart1></app-chart1>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
