<!-- Statistics page -->

<!-- If there are any jams-->
<div *ngIf="existingJams ; else elseBlock" >
<div class="stats">
  <div class="container content">
    <div class="row">
      <div class="stat-left-container col-md-10 col-lg-6 col">
        <app-jams></app-jams>
      </div>

     <div class="stat-right-container col-md-10 col-lg-6 col-sm-12  ">

       <div class="row">

          <div class="col col-md-7 col-sm-6 ">
            <app-day-spinner></app-day-spinner>
          </div>

          <div class="col  col-md-5 col-sm-6 ">
            <app-statscard></app-statscard>
          </div>
         </div>

         <div class="row">

          <div class="col-md-12 col-lg-12 col-sm-12 col-lg-12 col">
            <app-statscard2></app-statscard2>
           </div>
         </div>
         <div class="row">

           <div class="col-md-12 col-lg-12 col-sm-12 col-lg-12 col">
                <app-charts-card></app-charts-card>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<!-- If there are no jams-->
<ng-template #elseBlock>
    <div class="noJams">
      <h2>It seems like you don't have any jams yet...</h2>
      <br>
      <button mat-raised-button color="primary" (click)="newJam()">Create a new one!</button>
    </div>
</ng-template>
