.stat-left-container{
  height: 100%;

}
.stat-right-container{
  height: 100%;
}

.stats{
    padding-top:1%;
    width: 100%;
}
.col{
  margin-bottom: 20px;
}

.noJams{
  text-align: center;
  border-radius: 0.02em;
  border: 1px grey ;
  padding: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

H2{
  color: grey;
}
